<h1>Admin Dashboard</h1>

<h2>Top 5 Customers</h2>
<section id="top-customers">
  <ul>
    <% @customers.each do |customer| %>
        <li id="customer-<%= customer.id %>"><%= name(customer) + " :#{customer.number_of_successful_transactions}" %></li>
    <% end %>
  </ul>
</section>


<h2>Incomplete Invoices</h2>
<section id="incomplete-invoices">
  <ul>
    <% @incomplete_invoices.each do |invoice| %>
      <li id="invoice-<%= invoice.id %>">Invoice id: <%= link_to invoice.id, admin_invoice_path(invoice.id) %> <%= invoice.created_at.strftime("%A, %B %d, %Y") %></li>
    <% end %>
  </ul>
</section>
