<h1><%= @merchant.name %></h1>

<h1>Invoice #<%= @invoice.id %></h1>
<h3>Total Revenue: <%= format_price(@invoice.revenue)%></h3>
<p><%= format_date(@invoice.created_at) %></p>
<p><%= @invoice.status %></p>
<h3>Customer:</h3>
  <%= render @invoice.customer %>
<section id="item-information">
  <h3>Items on this Invoice</h3>
  <%= render 'shared/invoice_items' %>
</section>
