<h1> admin invoice show </h1>

<section id="invoice-information">
  <ul>
    <li>invoice id: <%= @invoice.id %></li>
    <li>invoice status: <%= @invoice.status %></li>
    <li>invoice creation date: <%= format_date(@invoice.created_at) %></li>
    <li>invoice total: <%= format_price(@invoice.invoice_items.total_revenue) %></li>
  </ul>

  <%= form_with invoice: @invoice, method: :patch do |f| %>
    <%= f.select :status, Invoice.statuses.keys, selected: "#{@invoice.status}" %>
    <%= f.label :status %>
    <%= f.submit %>
  <% end %>
</section>

<section id="customer-information">
  <ul>
    <li>customer name: <%= name(@invoice.customer) %></li>
    <li>customer address: <%= @invoice.customer.address%></li>
  </ul>
</section>

<section id="invoice-items-information">
  <h3>Items on this Invoice</h3>
  <%= render 'shared/invoice_items' %>
</section>
