<table>
  <tr class="theader">
    <th>Item Name</th>
    <th>Item Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
    <th>Discounts Applied</th>
    <th>Total</th>
    <th>Status</th>
  </tr>
  <% @invoice_items.each do |invoice_item| %>
  <tr id="item-<%= invoice_item.id %>">
    <td style='text-align:left'><%= invoice_item.item_name %></td>
    <td style='text-align:right'><%= format_price(invoice_item.item_price) %></td>
    <td><%= invoice_item.quantity %></td>
    <td style='text-align:right'><%= format_price(invoice_item.subtotal) %></td>
    <td class="discount"><%  if invoice_item.discount_id %>
      <%= format_price(invoice_item.discount_amt)%><br>
      <%= link_to discount_details(invoice_item.discount), merchant_discount_path(invoice_item.discount) %>
      <% end %></td>
    <td style='text-align:right'><%= format_price(invoice_item.total) %></td>
    <td><%= form_with model: [:merchant, invoice_item], local: true do |f| %>
          <%= f.select :status, ["pending", "packaged", "shipped"], selected: invoice_item.status%>
          <%= f.submit "Update Item Status" %>
        <% end %></td>
  </tr>
  <% end %>
  <tr class="total">
    <td colspan="4"></td>
    <td><% if @invoice_items.discount_total != 0 %>

        <%= format_price(@invoice_items.discount_total) %><% end %></td>
    <td><%= format_price(@invoice_items.total_revenue) %></td>
    <td></td>
  </tr>
</table>
