<header id="nav">
  <%= link_to "Home", root_path %>
  <%= link_to "Items", items_path %>
  <% if !current_admin? && !current_merchant? %>
    <p>My Cart (0)</p>
  <% end %>
  <% if current_user %>
    <p>Logged in as <%= current_user.username %></p>
    <%= link_to "Log Out", logout_path, method: :delete %>
  <% else %>
    <%= link_to "Log In", login_path %>
    <%= link_to "Register", new_user_path %>
  <% end %>

  <% if current_admin? %>
    <%= link_to "Dashboard", admin_dashboard_path %>
  <% end %>

  <% if current_merchant? %>
    <%= binding.pry %>
    <%= link_to "Dashboard", merchant_dashboard_path(@merchant) %>
  <% end %>
</header>
