<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'shared/navbar' %>
      <ul id="flash-messages" >
        <% flash.each do |notice, messages| %>
          <% if notice == "errors" %>
            <% messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          <% else %>
            <%= messages %>
          <% end %>
        <% end %>
      </ul>
      <div class="container main">
        <%= yield %>
      </div>
  </body>

  <%= render 'shared/api' %>
</html>
